<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <div class="hero-section">
      <div class="hero-section-text">
        <h1 style="color: #c68c53">Exotic meats Recipe</h1>
        <h4 style="color: #d2a679">Get Primal with it!</h4>
      </div>
    </div>


<div class="row">
    <%= yield %>
  </div>


    <%= javascript_include_tag "application" %>
  </body>
</html>
